.header {
	display: flex;
	position: sticky;
	top: 0px;
	justify-content: space-between;
	align-items: center;
	max-height: 50px;
	box-sizing: border-box;
	flex-wrap: nowrap;
	background-color: rgb(166, 236, 190);

}

.header_left-block {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	flex-wrap: nowrap;
}

.header_logo {
	font-size: xx-large;
	font-family: 'Roboto Slab';
	text-shadow: 1px 5px 10px rgb(84, 255, 4);
	animation: blink 1s infinite;
	font-weight: 900;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.65;
	}

	100% {
		opacity: 1;
	}
}

.header_links {
	box-sizing: border-box;

}

.header_link {
	text-decoration: none;
	padding-left: 25px;
	padding-right: 25px;
	font-size: x-large;

}

.header_right-block {}

.contact {}




.main {
	margin-top: 10px;
}

.about {

	/* display: flex; */
	flex-direction: column;
	display: none;
}

.title {
	text-align: center;
	font-size: x-large;
	margin-bottom: 30px;

}

.discription {
	display: flex;
	flex-direction: row;
	height: auto;
}

.discription_about {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
}

.discription_about h2 {
	text-align: end;
}
.econom{
	display: flex;
	flex-direction: row;
	height: auto;
}
.house{
	display: flex;
	flex-direction: row;
	height: auto;
display:none;

}
.lux{
	display: flex;
	flex-direction: row;
	height: auto;
	display: none;
}


.discription_image {}





.rooms {
	/* display: none; */
	display: flex;
	flex-direction: column;
}

.rooms .title {
	display: flex;
	justify-content: space-evenly;
}

.attractions {
	display: none;
}




footer {
	height: 70px;
	background-color: aqua;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
}