.header {
	display: flex;
	position: sticky;
	top: 0px;
	justify-content: space-between;
	align-items: center;
	max-height: 50px;
	box-sizing: border-box;
	flex-wrap: nowrap;
	background-color: rgb(166, 236, 190);
	z-index: 0;
}

.headerLogo {
	font-size: xx-large;
	font-family: 'Roboto Slab';
	text-shadow: 1px 5px 10px rgb(84, 255, 4);
	animation: blink 1s infinite;
	font-weight: 900;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.65;
	}

	100% {
		opacity: 1;
	}
}

.headerLinks {
	display: flex;
	justify-content: space-around;
}

.headerLink {
	margin-left: 50px;
	margin-right: 50px;
	text-decoration: none;
	font-size: x-large;
	cursor: pointer;
	text-align: center;
}

.headerLinkActive {
	color: #000000;
	font-size: 27px;
	font-weight: 700;
	text-shadow: 10px 5px 5px red;
}

.headerRightBlock {}

.contact {
	width: 220px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0);
	font-size: 18px;
	font-weight: 700;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 40px;
	cursor: pointer;
	transition: .3s all;
	outline: 0;

}

.contact:hover {
	box-shadow: 0 4px 30px rgba(0, 0, 0, .3)
}

.main {
	margin-top: 10px;
}

.mainContent {
	display: flex;
	flex-direction: column;
}

.hide {
	display: none;
}

.show {
	display: flex;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.3;
	}

	to {
		opacity: 1;
	}
}

.title {
	display: flex;
	justify-content: space-around;
	text-align: center;
	font-size: x-large;
	margin-bottom: 30px;
}

.roomLinks {
	display: flex;
	justify-content: space-around;
	text-align: center;
	font-size: x-large;
	margin-bottom: 30px;
}

.discription {
	display: flex;
	flex-direction: row;
	height: auto;
}

.discriptionAbout {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
}

.discriptionAbout h2 {
	text-align: end;
}

.discriptionImage {
	max-width: auto;
	height: 400px;

}

.discriptionImageAbout {
	position: relative;
	width: 600px;
	height: 400px;
}



.roomLink {
	margin-left: 50px;
	margin-right: 50px;
	text-decoration: none;
	font-size: x-large;
	cursor: pointer;
	text-align: center;
}

.roomMainContent {

	flex-direction: column;
}

.econom {
	display: flex;
	flex-direction: row;
	height: auto;
}

.house {
	display: flex;
	flex-direction: row;
	height: auto;

}

.lux {
	display: flex;
	flex-direction: row;
	height: auto;

}

.attractionContainer {}

.attractionTabs {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.attractionImages {
	width: 500px;

}

.attractionImage {
	width: 500px;
	max-height: 350px;
}







.attractionImages:hover::after {
	box-shadow: inset 10px 10px rgb(255, 0, 0);
	content: '35453453543534535';
	position: relative;
	bottom: 50%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: blue;
	
}
















.attractionAbout {
	max-width: 50%;

}


footer {
	height: 70px;
	background-color: aqua;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
}